#prop-list {
    height: 600px;
    width: 500px;
    margin: 0 auto;
    padding-left: 0;

    .list-group-item {
        &:hover {
            background: #286090;
            color: #fff;
            cursor: pointer;
        }
    }
}