#prop-list {
    margin: 0 auto;
    padding: 15px 10px;
    border-radius: 3px;
    width: 500px;
    background: #fff;

    .list-groups {
        margin-bottom: 0;
        padding-left: 0;
    }

    .list-group-item {
        &:hover {
            background: #286090;
            color: #fff;
            cursor: pointer;
        }
    }
}