.approach-property {
    .panel-heading {
        padding: 0;
    }

    .panel-body {
        display: none;

        .dominative {
            padding-top: 8px;

            span {
                padding: 5px;
            }
        }
    }

    .navbar {
        border: none;
        margin-bottom: 0px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        background: transparent;
    }

    .list-groups {
        padding: 0;

        .list-group-item {
            transition: .1s;

            &:not(.creater) {
                cursor: pointer;
            }

            &:not(.active):not(.creater):hover {
                background: #eee;
            }
        }
    }
}