.test-set {
    .tags {
        span {
            float: left;
            margin: 2px 4px 2px 0;
            padding: 1px 6px;
            border: 1px #2aa198 solid;
            border-radius: 3px;
            font-size: 10px;
            font-weight: 700;
            color: #2aa198;
        }

        &:after {
            clear: both;
            content: "";
            display: table;
        }
    }

    input.edage {
        margin-top: 10px;
    }

    .title {
        display: block;
        margin-top: 10px;
    }

    .text {
        width: 100%;
        max-width: 100%;
    }

    .btn {
        margin-top: 5px;
    }
}

.apro-prop {
    .panel-heading {
        padding: 0;
    }

    .navbar {
        border: none;
        margin-bottom: 0px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .list-group-item {
        cursor: pointer;
        transition: .1s;

        &:not(.active):hover {
            background: #eee;
        }
    }
}